@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
/* header */
.header a{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-decoration: none;
    text-align: end;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    background-image: url("Screenshot_2.png");
    background-repeat: initial;
    padding: 20px;
    padding-bottom: 40px;
}
/* separar a logo do login */
.logo{
    float:left;
    width: 60%;
    padding: 10px;
}
.header:after{
    content: "";
    display: table;
    clear: both;
}


/* separar o login do cadastro */
.login{
    outline-style: double;
    outline-color: white;
    outline-width: 2px;
    border-radius: 5px;
    box-shadow: 5px 5px white;
    background-color: purple;
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px;
}

.logo:after{
    content: "";
    display: table;
    clear: both;
}

.login:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
/* navegação do topo */
.toponaveg {
    padding-bottom: 0px;
    overflow: hidden;
    background-color: purple;
    outline-style: double;
    outline-color: white;
    outline-width: 2px;
    border-radius: 0px;
    box-shadow: 5px 5px white;
  }

.toponaveg a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 25px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    
}
.toponaveg a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}


/* Tabelas */

h2{
    outline-style: double;
    outline-color: white;
    outline-width: 2px;
    border-radius: 5px;
    box-shadow: 5px 5px white;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode';
    text-shadow: 2px 2px 1px black, 0 -10px 15px rgb(0, 0, 0), 0px 10px 15px rgb(0, 0, 0);
}
p{
    text-align: center;
}
.row{
    margin-bottom: 10%;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.imagens{
    box-shadow: 0px 10px white, 0px -10px white, 0px -10px 12px black ;
    background-color: rgba(255, 255, 255, 0.192);
    float:left;
    width: 33.33%;
    padding: 10px;
}
.imagens:hover{
    background-color: purple;
    color: rgb(255, 255, 255);
}
.column:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
    .imagens {
        width: 100%;
    }
    .login{
        width: 100%;
    }
}
/* para alinhar os jogos */
.imagens{
    text-align: center;
    display: block;
}

  /* rodapé */
.footer {
    box-shadow: 0px -10px 2px white;
    background-color: rgb(143, 3, 148);
    color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
